# Node
.npmrc
node_modules
.DS_Store
dist
dist-web
.env
*.log

# Next.js
.next
out

# Build infos
*.tsbuildinfo

# Convex generated JS
convex/*.js
convex/*.js.map
convex/*.d.ts
convex/*.d.ts.map
!convex/_generated/**

.agents
.claude
.codex
.gemini
.opencode


.env.local
